/* shared styles are here  */
*{
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0.1px;
}
/* shared styles ends here  */
/* nav section styles starts here  */
.nav-links{
    text-decoration: none;
    display: flex;
    height: 45px;
    width: 485px ;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 0px; */
    padding: 2px;
  
}
.navbar{
    background-color: none;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: 57px 190px 32px 190px;
    /* margin-top: 57px; */

}
*nav{
margin-top: 57px;
}
.nav-item{
    text-decoration: none;
    list-style: none;
    /* padding-left: 47px; */
    /* display: flex;
    justify-content: space-between; */
    /* margin-right: 65px; */
    align-items: center;
    /* color: white; */
    
}
.Home-button , .Other-nav-button{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
}
.about-button{
    margin-right: 1px;
    padding: 10px;
}
.Home-button{
    border: 1px solid orangered;
    background-color: orangered;
    padding: 8px 20px 8px 20px;
    width: 92px;
height: 38px;
border-radius: 46px;
margin-left: 4px;
/* margin-top: 4px;
margin-bottom: 4px; */
}
.Other-nav-button{
    margin-right: 4px;
    /* padding-right: 2px; */
}
/* nav section styles ends here  */
/* .header-class{
    
} */
.header-class{
    background-color: rgb(17, 17, 17);
    /* height: 715px;
    width: 1440px; */
}

/* banner section starts here  */
.brand-name{
    height: 43px;
    width: 132px;
    color: orangered;
    font-size: 2.2rem;
    font-weight: 800;
}
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-writing-section{
    height: 440px;
    width: 520px;
    margin-left: 190px;
    margin-top: 96px;
}
.banner-title{
color: white;
font-size: 4.8rem;
font-weight: 900;
height: 282px;
width: 520px;
}
.shape-style{
    font-family: 'Miama', sans-serif;
    font-weight: 900;
    font-size: 4.8rem;
}
.banner-discription{
    height: 48px;
    width: 520px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}
.join-club{
    width: 224px;
    height: 54px;
    background-color: orangered;
    border: 1px solid orangered;
    border-radius: 42px;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    margin-right: 14px;
}
.download-now{
    width: 224px;
    height: 54px;
    background-color: transparent;
    /* border: 1px solid orangered; */
    border-radius: 42px;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
}
.banner-image-section{
    display: flex;
}