/* shared styles are here  */
*{
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0.1px;
}
/* shared styles ends here  */
/* nav section styles starts here  */
.nav-links{
    text-decoration: none;
    display: flex;
    height: 45px;
    width: 485px ;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 0px; */
    padding: 2px;
  
}
.navbar{
    background-color: none;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: 57px 190px 32px 190px;
    /* margin-top: 57px; */

}
*nav{
margin-top: 57px;
}
.nav-item{
    text-decoration: none;
    list-style: none;
    align-items: center;
    /* color: white; */
    
}
.Home-button , .Other-nav-button{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
}
.about-button{
    margin-right: 1px;
    padding: 10px;
}
.Home-button{
    border: 1px solid orangered;
    background-color: orangered;
    padding: 8px 20px 8px 20px;
    width: 92px;
height: 38px;
border-radius: 46px;
margin-left: 4px;
/* margin-top: 4px;
margin-bottom: 4px; */
}
.Other-nav-button{
    margin-right: 4px;
    /* padding-right: 2px; */
}
/* nav section styles ends here  */
/* .header-class{
    
} */
.header-class{
    background-color: rgb(17, 17, 17);
    height: 715px;
    width: 1530px;
}

/* banner section starts here  */
.brand-name{
    height: 43px;
    max-width: 132px;
    color: orangered;
    font-size: 2.2rem;
    font-weight: 800;
}
.banner{
    display: flex;
    justify-content: space-between;
    /* max-width: 1440px;
    height:581px; */
}
.banner-writing-section{
    height: 440px;
    width: 520px;
    margin-left: 190px;
    margin-top: 60px;
}
.banner-title{
color: white;
font-size: 4.8rem;
font-weight: 900;
height: 282px;
width: 520px;
}
.shape-style{
    font-family: 'Miama', sans-serif;
    font-weight: 900;
    font-size: 4.8rem;
}
.banner-discription{
    height: 48px;
    width: 520px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}
.join-club{
    width: 224px;
    height: 54px;
    background-color: orangered;
    border: 1px solid orangered;
    border-radius: 42px;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    margin-right: 14px;
}
.download-now{
    width: 224px;
    height: 54px;
    background-color: transparent;
    /* border: 1px solid orangered; */
    border-radius: 42px;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
}
.banner-image-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: -300px;
    margin-left: 200px;
}
.videos-tutorial{
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    height: 96px;
    max-width: 206px;
    border-radius: 12px;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: -120px ;
    margin-top: -156px;
    position: top 30px;
    position: left -300px;
    
}
.red-circle{
    border: 1px solid orangered;
    max-width: 40px;
height: 40px;
background-color: orangered;
/* margin: 28px 143px 28px 23px; */
border-radius: 100%;
}
.videos-tutorial-title{
    margin-top: 20px 63px 52px 75px;
    color: white;
    font-size:1.5rem ;
    font-weight: 900;
}
.red-circle-area{
    margin: 28px 8px 28px 23px;
}
.videos-tutorial-description{
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
}
.workout-videos{
    max-width:200px;
height: 98px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
margin-top: 130px;
margin-left: -140px;
margin-right: 40px;
}
.workout-title{
    margin: 17px 53px 5px 24px;
    color: white;
    font-size: 2.2rem;
font-weight: 900;
}
.workout-description{
    color: rgba(255, 255, 255, 0.65);
font-size: 13px;
font-weight: 400;
margin-left: 24px;
}
body{
    background-color: black;
}
/* banner section ends here  */

/* run section starts here  */
.habit-main-class{
    max-width: 1044px;
    height: 452px;
    align-items: center;
    margin: 0 auto;
    background-color:black;
    margin-top: 100px;
}
.habit-images-details{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
    margin-top: 58px;
    margin-bottom: 30px;
    
}
.habit-details{
    align-items: center;
    text-align: center;
    width: 671px;
    margin-left: 100px;
}
.habit-section-title{
     height: 58px;
    /* width: 476px; */
    align-items: center;
    text-align: center;
    margin-left: 200px;
    font-size: 48px;
font-weight: 900;
color: white;
}
.habit-section-description{
    font-size: 14px;
font-weight: 400;
max-width: 671px;
height: 48px;
margin-left: 187px;
margin-top: 30px;
color: rgba(255, 255, 255, 0.5);
}
.habit-images{
    height: 180px;
    width: 180px;
    border: 0.1px solid black;
    border-radius: 100%;
}
.habit-title{
    /* width: 93px; */
height: 22px;
font-size: 1.1rem;
font-weight: 600;
color: white;
margin-top: 30px;
margin-bottom: 6px;
}
.habit-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
font-weight: 400;
}

/* run section starts here  */
.run-main-section{
    height: 371px;
    width: 1060px;
    margin: 0 auto;
    border-radius: 18px;
margin-top: 170px;
background: rgb(34, 34, 34);
display: flex;
justify-content: space-between;
margin-bottom: 40px;
}
.run-writing-section{
    max-width: 443px;
height: 290px;
align-items: center;
margin: 41px 165px 54px 54px;
}
.run-image-section{
    object-fit: none;
    object-position: 65% 28%;
    height: 312px;
    width: 366px;
    border-radius: 18px;
    margin-top: 15px;
    margin-right: 32px;
}
.run-title{
    width: 443px;
height: 116px;
font-size: 48px;
font-weight: 900;
color: white;
margin-bottom: 14px;
}
.run-details{
    width: 443px;
height: 72px;
color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
margin-bottom: 24px;
}
/* run section ends here  */


/* BMI section starts here  */

.bmi-main-class{
    margin-top:200px;
    color: white;
    max-width: 671px;
height: 120px;
margin: 0 auto;
margin-bottom: 50PX;
}
.bmi-title{
    width: 353px;
height: 58px;
font-size: 48px;
font-weight: 900;
}
.bmi-description{
    font-size: 14px;
font-weight: 400;
color: rgba(255, 255, 255, 0.5);
margin-top: 20PX;

}
.bmi-calculator-section{
    height: 480px;
    width: 1530px;
    background-color:  rgb(34, 34, 34);
    margin-bottom: 100px;
}
/* bmi calculator sectoin starts here  */

.bmi-calculator-section{
    display: flex;
    justify-content: space-between;
    margin-top: 49px;
}
.table-section{
    margin-top: 52px;
    margin-left: 187px;
    /* border: 1px solid red; */
}
.table-title{
    font-size: 28px;
font-weight: 900;
color: white;
max-width: 443px;
height: 34px;
}
.main-table{
    margin-top: 52px;
    width: 310px;
height: 216px;
text-align: center;
color: rgba(255, 255, 255, 0.5);
}
.border-color{
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.calculate-bmi{
    max-width: 577px;
height: 386px;
margin-top: 49px;
margin-right: 189px;
}
.calculate-bmi-title{
    width: 443px;
height: 34px;
font-size: 28px;
font-weight: 900;
color: white;
}
.calculate-bmi-description{
    max-width: 577px;
height: 48px;
font-size: 14px;
font-weight: 400;
color: rgba(255, 255, 255, 0.5);
margin-top: 14px;

}
.fields{
    border-radius: 8px;

background: rgba(255, 255, 255, 0.1);
width: 282.5px;
height: 48px;
color: white;
padding: 3px;
margin-right: 12px;
margin-bottom: 12px;
}
.field{
    display: flex;
}
.big-field{
    border-radius: 8px;

background: rgba(255, 255, 255, 0.1);
width: 568px;
height: 48px;
color: white;
padding: 3px;
margin-right: 12px;
margin-bottom: 12px;
}
/* bmi section ends here  */

/* meet our team section starts here */
.meet-our-team-title{
    width: 353px;
height: 58px;
font-size: 48px;
font-weight: 900;
text-align: center;
color: white;
margin: 0 auto;

}
.meet-our-team-description{
    font-size: 14px;
font-weight: 400;
color: rgba(255, 255, 255, 0.5);
margin-top: 14PX;
text-align: center;
}
.meet-our-team-images{
    height: 595px;
    width: 1060px;
    border-radius: 18px;
margin-top: 170px;
background: rgb(34, 34, 34);
margin-bottom: 40px;
margin: 0 auto;
padding: 20px;
padding-left: 30px;
}
.meet-our-team-images{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    margin: 0 auto;
    margin-top: 40px;
}
.meet-team-image{
    width: 326.67px;
height: 272px;
border-radius: 18px;
margin: 0 auto;

/* background: rgba(0, 0, 0, 0.2),url(image); */
}
.img-details{
    position: top 30px;
    color: white;
    margin-top: -60px;
    margin-left: 40px;
}
.fit-image{
    object-fit: none;
object-position: 65% 0%;
}

/* our team section ends here  */

/* footer starts here  */

footer{
    display: flex;
    justify-content: space-around;
    color: white;
    max-width: 1059px;
height: 249px;
margin: 0 auto;
margin-top: 66px;
/* margin-bottom: 75px; */
}
.fitness-final{
    width: 443px;
height: 176px;
}
.final-description{
    max-width: 443px;
height: 72px;
color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
margin-top: 20px;
}
.final-title{
    font-size: 32px;
font-weight: 700;
margin-bottom: 30px;
}
.get-started1{
    width: 181px;
height: 249px;
}
.get-start-details{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;

}
hr{
    margin: 50px auto;
    width: 1060px;
    height: 0px;
}
.last-line{
    color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    margin-bottom: 20px;
    margin-left: 40%;
}
/* bonus challange starts here  */

.bonus-challange-writings{
    color: white;
    align-items: center;
    text-align: center;
    width: 671px;
    margin-top: 90px;
    margin-bottom: -40px;
    margin-left: 400px;
}

.boxes{
    height: 220px;
    width: 1100px;
    margin: 0 auto;
    border-radius: 18px;
margin-top: 80px;
background: rgb(34, 34, 34);
display: flex;
justify-content: space-between;
margin-bottom: 40px;

}
.each-box{
    border: 1px solid rgb(17, 17, 17);
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    height: 75%;
    gap: 20px;
    margin-top: 30px;
    color: white;
    background-color: rgb(17, 17, 17);
    margin-right: 20px;
    margin-left: 20px;
    max-width: 400px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
}
.box-description{
    color: rgba(255, 255, 255, 0.5);
    margin-top: -30px;
}
.start-title{
    height: 58px;
    /* width: 476px; */
    align-items: center;
    text-align: center;
    /* margin-left: 200px; */
    font-size: 48px;
font-weight: 900;
color: white;
}
.start-description{
        font-size: 14px;
    font-weight: 400;
    max-width: 671px;
    height: 48px;
    /* margin-left: 187px; */
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.5);
    
}
/* responsive section starts here */
@media screen and (max-width: 576px){
.nav-links{
        display: block;
    }
    .header-class{
        display: flex;
        flex-direction: column;
        margin-left: -180px;
        height: auto;
        /* width: auto; */
    }
    .banner, .buttons{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .banner-image-section{
        display: flex;
    }
    .habit-images-details{
        grid-template-columns: repeat(1 ,1fr);
        gap: 30px;
    }
    .habit-section-description{
        margin-left: 100px;
        /* flex-direction: column; */
        /* width: auto; */
        position: left 30px;
    }
    .habit-details{
        width: auto;
        margin: 0 auto;
        position: left 50px;
    }
}
